
html *
{      
   font-family: Arial !important;
}

.center-div
{     
    max-width: 500px;          
    margin: 0 auto;
    text-align: center;
}

#inner-div
{
	width: 50%;
  	margin: 0 auto;
	text-align: left;	
}
